<!DOCTYPE html>
<html  lang="en" th:replace="~{base:: parent(~{::#content},~{::#title},~{::script})}">
<head>
    <title id="title" >Home</title>
</head>
<body>
    <div id="content" class="p-4">
       <h1> This is home Page</h1>
       <p>Creating a smart contact manager application involves managing contacts, allowing users to add, edit, view, and delete contacts. We'll build this application using Spring Boot, Thymeleaf, and a database like H2 for simplicity. Below are the key steps and components needed to create this application.</p>
    </div>e
    <script>console.log("Home page");</script>
    </body>
</html>